@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navigation a{
    position: relative;
    left: 75pc;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a:hover{
    color:rgb(46, 56, 255) ;
    transition: 0.5s;
}

img{
    position: relative;
    bottom: 50px;
    left: 13pc;
}

h1{
    position: relative;
    top: 15pc;
    right: 18pc;
    font-size: 3rem;
}